@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;

  font: normal 100%/1.5 sans-serif;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

.forward {
    background-color: green;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    width: 6em;
    line-height: 6em;
    transition: all .4s linear;
    margin: 0 1em;
}

.forward:hover {
    background-color: #fff;
    color: #000;
}

.backward {
    background-color: red;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    width: 6em;
    line-height: 6em;
    transition: all .4s linear;
    margin: 0 1em;
}

.backward:hover {
    background-color: #fff;
    color: #000;
}

.clock-face {
    height: 300px;
    width: 300px;
    background: url("../images/clock-face.svg") repeat left center;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
}

.hand {
    position: absolute;
    width: 14px;
    left: calc(50% - 7px);
    bottom: 50%;
    transition: all 5s linear;
    transform-origin: bottom center;
}

.clock-face:target .hand-minute {
    transform: rotate(4320deg);
}

.clock-face:target .hand-hour {
    transform: rotate(360deg);
}

.center {
    position: absolute;
    width: 28px;
    top: calc(50% - 14px);
    left: calc(50% - 14px);
}
